{% extends "base.html" %}

{% block title %}Gestion des réservations{% endblock %}

{% block content %}
    <h1>Gestion des réservations</h1>
    <a href="{{ url_for('admin.add_booking') }}" class="btn btn-primary">Ajouter une réservation</a>
    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.user.email }}</td>
                    <td>{{ booking.date.strftime('%d/%m/%Y') }}</td>
                    <td>{{ booking.time_slot + 10 }}:00 - {{ booking.time_slot + 11 }}:00</td>
                    <td>{{ booking.status }}</td>
                    <td>
                        <a href="{{ url_for('admin.edit_booking', booking_id=booking.id) }}" class="btn btn-sm btn-primary">Modifier</a>
                        <a href="{{ url_for('admin.delete_booking', booking_id=booking.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

